#table_container{
  position: absolute;
  left: 5%;
  right: 0;
  bottom: 0;
  top: 3%;
  width: 100%;
  height: 100%;
  input{
    width: 71.5%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  button{
    background-image: none;
    background: rgb(28, 184, 65);
    cursor: pointer;
    font-size: 20px; 
    padding: 12px 20px 12px 40px; 
    height: 60px;
    width: fit-content;
    border: 1px solid #ddd; 
    margin-bottom: 12px;
    margin-left: 10px;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }
  table{
    padding-top: 1%;
    width: 99%;
    border-collapse: collapse; 
    td, th {   
      text-align: left; 
      padding: 8px; 
      font-size: larger;
      margin: 0;
      font-size: larger;
      }  
    tr{
      height: 60px;
      background-color: 1px solid #ddd;
      &:hover{
        th,td{
          background-color: #f1f1f1;
          border: 1px solid #f1f1f1 ;
        }
        background-color: #f1f1f1;
        border: 1px solid #f1f1f1 ;
      }
      th{
        span{
          cursor: pointer;
        }
        button{
          background-size: 20px 20px;
          height: 25px;
          width: 20px;
        }
      }
    }
  }
}
.modal{
  visibility: hidden; 
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  span{
    cursor: pointer;
  }
  div{
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    justify-items: center;
    display: flex;
    flex-direction: column;
    #labels{
      display: flex;
      flex-direction: row;;
      justify-content: space-between;
    }
   div{
      border: none;
      padding: 0;
      margin: 0;
   }
    span{
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      top: 0px;
      right:0px;
      position: relative;
    }
    button{
      background-image: none;
      background-color: #555555; 
      color: white;
      border: none;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      width: fit-content;
      height: 40px;
      margin-top: 1%;
    }
  }
}
.dropdown {
  position: relative;
  display: inline-block;
  // width: fit-content;
  &:hover{
    div{
    display: block;
    }
  }
  span{
    cursor: pointer;
  }
  div {
    width: fit-content;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    button{
      width: fit-content;
      background-image: none;
      cursor: pointer;
    }
  }
  
}
#note-container{
  display: flex;
  flex-direction: column;
}
#submit_reim_btn{
  background-image: none;
  background: rgb(66, 184, 221);
  cursor: pointer;
  font-size: 20px; 
  padding: 3px 5px 3px 5px; 
  height: 70px;
  width:300px;
  border: 1px solid #ddd; 
  margin-top: 24px;
  margin-bottom: 12px;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
  position: relative;
  left: 39%
}

#close{
  z-index: 2;
  position: absolute;
  top: 31.5%;
  right: 9.5%;
}